// Portfolio Modal 1
#portfolioModal1.portfolio-modal.modal.fade(tabindex='-1', aria-labelledby='portfolioModal1', aria-hidden='true')
    .modal-dialog.modal-xl
        .modal-content
            .modal-header.border-0
                button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
            .modal-body.text-center.pb-5
                .container
                    .row.justify-content-center
                        .col-lg-8
                            // Portfolio Modal - Title
                            h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0 B.R.P. English
                            // Icon Divider
                            .divider-custom
                                .divider-custom-line
                                .divider-custom-icon
                                    i.fas.fa-star
                                .divider-custom-line
                            // Portfolio Modal - Image
                            img.img-fluid.rounded.mb-5(src='assets/img/portfolio/cabin.png', alt='...')
                            // Portfolio Modal - Text
                            p.mb-4
                                | A small, simple website built to help me with my English teaching business, gathering students and supplying resources to them.
                                <br />
                                | The site was built using VueJS, and features 2 different languages.

                            a.btn.btn-outline-light.btn-link.mx-1(href='http://www.brp-english.com/en/', aria-label="Github")
                                i.fab.fa-brands.fa-github
                            a.btn.btn-outline-light.btn-link.mx-1(href='http://www.brp-english.com/en/', aria-label="Site")
                                i.fab.fa.fa-file

                            button.btn.btn-primary(data-bs-dismiss='modal')
                                i.fas.fa-xmark.fa-fw
                                | Close Window
